
.kutu {
    
    width:500px;
    height:500px;
    background-color:#adabab;
    margin:30px auto;
    box-shadow:0 0 10px black;

}

.boncuk {
    
    width:20px;
    height:20px;
    background-color:rgb(1,2,3);
    border-radius:10px;
    position:absolute;

}
